body{
    background-color: antiquewhite;
}

p{
    color: red;
    background-color: aqua;

}

h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    
}


span{
    color: black;
}